<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="bg">
<div class="content">
<div class="topnav" id="myTopnav">
  <a href="http://wakeit.nl:3000/contacts/" class="active">Home</a>
  <a href="http://wakeit.nl:3000/groups/">Groepen</a>
    <a href="http://wakeit.nl:3000/contacts.xml">Telefoonboek</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyWTp8Mx6t1mEE1dPZBwQwNt9h_z7biOk&libraries=places&callback=initAutocomplete" async defer></script>  
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
var placeSearch, autocomplete;
var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    country: 'long_name',
    postal_code: 'short_name'
};

function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */
        (document.getElementById('autocomplete')), {
            types: ['geocode']
        });
    autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
        document.getElementById(component).value = '';
        document.getElementById(component).disabled = false;
    }
    for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
        }
    }
}
function geolocate() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
        });
    }
}
var placesSearchbox = $("#autocomplete");

placesSearchbox.on("focus blur", function() {
    $(this).closest("form").toggleClass('prevent_submit');
});

placesSearchbox.closest("form").on("submit", function(e) {
    if (placesSearchbox.closest("form").hasClass('prevent_submit')) {
        e.preventDefault();
        return false;
    }
});
</script>

	<h1>Contact bewerken</h1>
	  <% if @contact.errors.any? %>
	  <div id="error_explanation">
		<h2>
		  <%= pluralize(@contact.errors.count, "error") %>
		  verhinderd het opslaan
		</h2>

		<ul>
		<% @contact.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		<% end %>
		</ul>
	  </div>
	<% end %>
    <%= form_for @contact do |f| %>  
  <div class="form">
	<!-- Persoonsgegevens -->
	<%= f.label :first_name, 'Voornaam' %>
    <%= f.text_field :first_name, placeholder: "" %>
	<%= f.label :middle_name, 'Tussenvoegsel' %>
    <%= f.text_field :middle_name, placeholder: ""  %>
	<%= f.label :last_name, 'Achternaam' %>
    <%= f.text_field :last_name, placeholder: ""  %>
	<!-- Telefoonnummer -->
	<%= f.label :phone_number, 'Telefoonnummer' %>
    <%= f.text_field :phone_number, placeholder: ""  %>
	<!-- Adresgegevens -->
	<%= f.label :autocomplete, 'Voer uw adres in' %>
	<input id="autocomplete" type="text" placeholder="">
    <%= f.label :street_name, 'Straatnaam' %>
	<%= f.text_field :street_name,  id: "route"  %> 
	<%= f.label :street_number, 'straatnummer' %>
    <%= f.text_field :street_number,  id: "street_number" %> 
	<%= f.label :zipcode, 'Postcode' %>
    <%= f.text_field :zipcode,  id: "postal_code"   %> 
	<%= f.label :city, 'Plaats' %>
    <%= f.text_field :city,  id: "locality"   %> 
	<%= f.label :country, 'Land' %>
    <%= f.text_field :country,  id: "country"   %>
	<!-- Groups checkbox -->
	<div class="field">
	  <%= f.collection_check_boxes :group_ids, Group.all, :id, :group_name do |b| %>
		<div class="collection-check-box">
		  <%= b.check_box %>
		  <%= b.label %>
		</div>
	  <% end %>
	</div>
	
  </div> 
  <div class="actions"> 
    <%= f.submit "Update" %>
	<button><%= link_to 'Terug naar het overzicht', "/contacts" %></button>
  </div> 
<% end %>
  </div>
</div>
